<%= form_for(@job) do |f| %>

  <% if @job.errors.any? %>
    <ul class='errors'>
    <% @job.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div id='form'>
    <div>
      <%= f.label :poster %><br>
      <%= f.text_field :poster %><br><br>
    </div>
    <div>
      <%= f.label :category %><br>
      <%= f.text_field :category %><br><br>
    </div>
    <div>
      <%= f.label :location %><br>
      <%= f.text_field :location %><br><br>
    </div>
    <div>
      <%= f.label :status %><br>
      <%= f.select :status, [['New', 'new'], ['Pending', 'pending'], ['Complete', 'complete']] %><br><br>
    </div>
  </div><br>

  <div>
    <%= f.submit %><br><br>
  </div>

<% end %>

