<h1>Job Postings</h1>

<% if @jobs.empty? %>
  <%= link_to 'New Job', new_job_path, class: "button" %>

<% else %>

  <table>

    <thead>
      <tr>
        <th>Date</th>
        <th>Poster</th>
        <th>Category</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <% @jobs.sort_by { |job_obj| job_obj[:created_at] }.each do |job| %>
      <tbody>
        <tr>
          <td><%= job.created_at.strftime('%D') %></td>
          <td><%= job.poster %></td>
          <td><%= job.category.capitalize %></td>
          <td><%= job.status.capitalize %></td>
          <td><%= link_to 'View', job_path(job) %> | <%= link_to 'Edit', edit_job_path(job) %> | <%= link_to 'Delete', job_path(job), method: :delete %></td>
        </tr>
      </tbody>

    <% end %>
  </table><br><br>

  <button class='big-button'><%= link_to 'Post a Job', new_job_path %></button>

<% end %>