<h1>Job</h1>

<div id='post'>
  <p><b>ID:</b> <%= @job.id %></p>
  <p><b>Poster:</b> <%= @job.poster.capitalize %></p>
  <p><b>Category:</b> <%= @job.category.capitalize %></p>
  <p><b>Location:</b> <%= @job.location.capitalize %></p>
  <p><b>Status:</b> <%= @job.status.capitalize %></p>
  <p><b>Date:</b> <%= @job.created_at.strftime('%D') %></p>
</div>

<button class='big-button'><%= link_to 'Edit', edit_job_path(@job) %></button>
