<div id='post'>

  <p>
    <strong>ID:</strong>
    <%= @job.id %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= @job.poster %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @job.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @job.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @job.status.capitalize %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @job.created_at.strftime('%D') %>
  </p>
</div>

<button class='big-button'><%= link_to 'Edit', edit_job_path(@job) %></button><br><br>
